<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <script type="text/javascript" src="../js/base.js" ></script>
    <script type="text/javascript" src="../js/service/goodsService.js" ></script>
    <script type="text/javascript" src="../js/service/itemCatService.js"></script>
    <script type="text/javascript" src="../js/service/uploadService.js"></script>
    <script type="text/javascript" src="../js/service/typeTemplateService.js"></script>
    <script type="text/javascript" src="../js/controller/baseController.js" ></script>
    <script type="text/javascript" src="../js/controller/goodsController.js" ></script>
    <script type="text/javascript" src="../plugins/echarts/echarts.js"></script>
    <script type="text/javascript" src="../js/service/statisticService.js" ></script>
    <script type="text/javascript" src="../js/controller/statisticController.js" ></script>
</head>
<body ng-app="pinyougou" ng-controller="statisticController" ng-init="findAll()">
<div id="main" style="width: 1200px;height: 700px;"></div>
<script type="text/javascript">
    var goodsTitle =[];
    // var goodsValues = [];
    $.get("../statistic/findAll.do",function (data) {
            for(var i = 0; i < data.length; i++){
                goodsTitle[i] = data[i].name;
            }
        // goodsValues = data;
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));
        option = {
            title : {
                text: '商品库存数量',
                // subtext: '纯属虚构',
                x:'center'
            },
            tooltip : {
                trigger: 'item',
                formatter: "{a} <br/>{b} : {c} ({d}%)"
            },
            legend: {
                orient: 'vertical',
                left: 'left',
                data:goodsTitle
            },
            series : [
                {
                    name: '商品库存',
                    type: 'pie',
                    radius : '55%',
                    center: ['50%', '60%'],
                    data:data,
                    itemStyle: {
                        emphasis: {
                            shadowBlur: 10,
                            shadowOffsetX: 0,
                            shadowColor: 'rgba(0, 0, 0, 0.5)'
                        }
                    }
                }
            ]
        };
        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
    });
</script>

<!--工具栏/-->
    <!--数据列表-->
    <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
        <thead>
        <tr>
            <th class="" style="padding-right:0px">
                <input id="selall" type="checkbox" class="icheckbox_square-blue">
            </th>
            <!--<th class="sorting_asc">规格id</th>-->
            <th class="sorting">商品名称</th>
            <!--<th class="sorting">商品价格</th>-->
            <th class="sorting">库存数量</th>
            <!--<th class="sorting">商品id</th>
            <th class="sorting">商家id</th>
            <th class="sorting">状态</th>
            <th class="text-center">操作</th>-->
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="entity in list">
            <td><input ng-click="updateSelection($event,entity.id)" type="checkbox"></td>
            <!--<td>{{entity.id}}</td>-->
            <td>{{entity.name}}</td>
            <!--<td>{{entity.price}}</td>-->
            <td>{{entity.value}}</td>
            <!--<td>{{entity.goodsId}}</td>-->
            <!--<td>{{entity.sellerId}}</td>-->
            <!--<td>-->
                <!--<span>-->
                    <!--{{entity.status}}-->
                <!--</span>-->
            <!--</td>-->
            <td class="text-center">
                <a href="goods_edit.html#?id={{entity.goodsId}}" type="button" class="btn bg-olive btn-xs">修改</a>
            </td>
        </tr>
        </tbody>
    </table>
    <!--数据列表/-->

</body>

</html>