<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>订单管理</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/skins/_all-skins.min.css">
    <link rel="stylesheet" href="../css/style.css">
	<script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="../plugins/angularjs/angular.min.js"></script>
    <!-- 分页组件开始 -->
	<script src="../plugins/angularjs/pagination.js"></script>
	<link rel="stylesheet" href="../plugins/angularjs/pagination.css">
	<!-- 分页组件结束 -->
    
    
    <script type="text/javascript" src="../js/base_pagination.js">  </script>
    <script type="text/javascript" src="../js/service/orderItemService.js">  </script>
    <script type="text/javascript" src="../js/controller/baseController.js">  </script>
    <script type="text/javascript" src="../js/controller/orderItemController.js">  </script>
    <script src="../plugins/laydate/laydate.js"></script> <!-- 改成你的路径 -->
</head>
<body class="hold-transition skin-red sidebar-mini" ng-app="pinyougou" ng-controller="orderItemController" ng-init="findBySellerId()">
  <!-- .box-body -->
                    <div class="box-header with-border">
                        <h3 class="box-title">订单管理</h3>
                    </div>

                    <div class="box-body">

                        <!-- 数据表格 -->
                        <div class="table-box">

                        <!--工具栏-->
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                状态:<select ng-model="entity.status">
                                <option value="">全部</option>
                                <option value="1">未付款</option>
                                <option value="2">已付款</option>
                                <option value="3">未发货</option>
                                <option value="4">已发货</option>
                                <option value="5">交易成功</option>
                                <option value="6">交易关闭</option>
                                <option value="7">待评价</option>
                            </select>

                                时间范围:<select ng-model="entity.checkType"  >
                                <!--  <option value="">请选择查询类型</option>-->
                                <option value="1">日订单</option>
                                <option value="2">周订单</option>
                                <option value="3">月订单</option>
                            </select>
                                订单日期：<input type="text" id="test">
                                <button class="btn btn-default" ng-click="selectByRecord()">查询</button>
                            </div>
                            <!--工具栏/-->
                        </div>
                            <!--数据列表-->
                            <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                                <thead>
                                <tr>
                                    <th class="" style="padding-right:0px">
                                        <input id="selall" type="checkbox" class="icheckbox_square-blue">
                                    </th>
                                    <th class="sorting">商品名称</th>
                                    <th class="sorting">商品价格</th>
                                    <th class="sorting">商品数量</th>
                                    <th class="sorting">商品总金额</th>
                                    <th class="sorting">订单来源</th>
                                    <th class="sorting">创建时间</th>
                                    <th class="sorting">状态</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="entity in list">
                                    <td><input  type="checkbox" ng-click="updateSelection($event,entity.id)"></td>
                                    <td>{{entity.goodsName}}</td>
                                    <td>{{entity.price}}</td>
                                    <td>{{entity.num}}</td>
                                    <td>{{entity.totalFee}}</td>
                                    <td>{{sourceType[entity.sourceType]}}</td>
                                    <td>{{entity.createTime}}</td>
                                    <td>{{status[entity.status]}}</td>
                                </tr>
                                </tbody>
                            </table>
                            <!--数据列表/-->

                        <!-- 数据表格 /-->
                        <!-- 分页 -->
                        <!--<tm-pagination conf="paginationConf"></tm-pagination>-->
                        </div>
                    </div>
                    <!-- /.box-body -->
         
<!-- 编辑窗口 -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" >
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">编辑</h3>
		</div>
		<div class="modal-body">	
			 <table class="table table-bordered table-striped"  width="800px">			
		      	  		      	<tr>
                             
<td>商品id</td>

                             <td><input  class="form-control" ng-model="entity.itemId" placeholder="商品id" ></td>

                        </tr>		
		      	<tr>
                             
<td>SPU_ID</td>

                             <td><input  class="form-control" ng-model="entity.goodsId" placeholder="SPU_ID" ></td>

                        </tr>		
		      	<tr>
                             
<td>订单id</td>

                             <td><input  class="form-control" ng-model="entity.orderId" placeholder="订单id" ></td>

                        </tr>		
		      	<tr>
                             
<td>商品标题</td>

                             <td><input  class="form-control" ng-model="entity.title" placeholder="商品标题" ></td>

                        </tr>		
		      	<tr>
                             
<td>商品单价</td>

                             <td><input  class="form-control" ng-model="entity.price" placeholder="商品单价" ></td>

                        </tr>		
		      	<tr>
                             
<td>商品购买数量</td>

                             <td><input  class="form-control" ng-model="entity.num" placeholder="商品购买数量" ></td>

                        </tr>		
		      	<tr>
                             
<td>商品总金额</td>

                             <td><input  class="form-control" ng-model="entity.totalFee" placeholder="商品总金额" ></td>

                        </tr>		
		      	<tr>
                             
<td>商品图片地址</td>

                             <td><input  class="form-control" ng-model="entity.picPath" placeholder="商品图片地址" ></td>

                        </tr>		
		      	<tr>
                             
<td></td>

                             <td><input  class="form-control" ng-model="entity.sellerId" placeholder="" ></td>

                        </tr>		
		  		      	
			 </table>				
		</div>
		<div class="modal-footer">						
			<button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="save()">保存</button>
			<button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
		</div>
	  </div>
	</div>
</div>
   
</body>
</html>
